<div class="post">
    <div class="post-header">
        <app-profile
            [username]="post.author?.username"
            [date]="post.createdAt"
        ></app-profile>
        <button class="btn like-button">
            <i class="ion-heart"></i>
            <span>{{ post.favoritesCount || 0 }}</span>
        </button>
    </div>
    <a routerLink="/post/{{ post.slug }}" class="post-body">
        <h1>{{ post.title }}</h1>
        <p>{{ post.description }}</p>
        <span>Read more...</span>
    </a>
</div>
