<div class="container">
    <nav class="navbar navbar-light navbar-expand-sm" role="navigation">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">conduit</a>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a
                        routerLink=""
                        class="nav-link"
                        aria-label="Home page"
                        role="navigation"
                    >
                        Home
                    </a>
                </li>
                <ng-container
                    *ngIf="
                        (userState$ | async).isLogged === false as isLogged;
                        else allowedLinks
                    "
                >
                    <li class="nav-item">
                        <a
                            routerLink="/login"
                            routerLinkActive="active"
                            class="nav-link"
                            role="navigation"
                            aria-label="Login page"
                            >Sign in</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            routerLink="/register"
                            routerLinkActive="active"
                            class="nav-link"
                            role="navigation"
                            aria-label="Registration page"
                            >Sign up</a
                        >
                    </li>
                </ng-container>
                <ng-template #allowedLinks>
                    <li class="nav-item">
                        <a
                            routerLink="/editor"
                            routerLinkActive="active"
                            class="nav-link"
                            aria-label="New Article page"
                            role="navigation"
                        >
                            <i class="ion-compose"></i>
                            New article
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            routerLink="/settings"
                            routerLinkActive="active"
                            class="nav-link"
                            aria-label="Settings page"
                            role="navigation"
                        >
                            <i class="ion-gear-a"></i>
                            Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <app-profile-header
                            [username]="(userState$ | async).username"
                        ></app-profile-header>
                    </li>
                </ng-template>
            </ul>
        </div>
    </nav>
</div>
