<div class="container-fluid main-header" *ngIf="!isLogged">
    <h1>conduit</h1>
    <p>A place to share your knowledge.</p>
</div>
<div class="container page">
    <div class="row">
        <div class="col-md-9">
            <div class="tabs">
                <ul class="nav nav-pills outline-active">
                    <li class="nav-item ng-hide">
                        <a
                            href="#"
                            [ngClass]="{ active: activeTab === 1 }"
                            class="nav-link"
                            (click)="activeTab = 1"
                        >
                            Your feed
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            href="#"
                            [ngClass]="{ active: activeTab === 2 }"
                            class="nav-link"
                            (click)="activeTab = 2"
                        >
                            Global Feed
                        </a>
                    </li>
                </ul>
                <app-post
                    *ngFor="let post of (posts$ | async).articles"
                    [post]="post"
                ></app-post>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sidebar">
                <p>Popular Tags</p>
                <ng-container *ngIf="(tags$ | async).tags as tags">
                    <div *ngIf="tags.length">No tags are here... yet.</div>
                    <div>
                        <span *ngFor="let tag of tags" class="tag tag-pill">
                            {{tag}}
                        </span>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
