<div class="container-fluid main-header" *ngIf="!isLogged">
    <h1>conduit</h1>
    <p>A place to share your knowledge.</p>
</div>
<div class="container page">
    <div class="row">
        <div class="col-md-9">
            <app-tabs>
                <tab title="Your feed">
                    <ng-container
                        *ngIf="
                            (posts$ | async).isLoading === false as isLoading;
                            else spinner
                        "
                    >
                        <app-post
                            *ngFor="let post of (posts$ | async).articles"
                            [post]="post"
                        ></app-post>
                    </ng-container>
                    <ng-template #spinner>
                        <app-spinner type="lg"></app-spinner>
                    </ng-template>
                </tab>
                <tab title="Global feed"> template</tab>
            </app-tabs>
        </div>
        <div class="col-md-3">
            <div class="sidebar">
                <p>Popular Tags</p>
                <ng-container *ngIf="(tags$ | async).tags as tags">
                    <div *ngIf="!tags.length">No tags are here... yet.</div>
                    <div>
                        <span *ngFor="let tag of tags" class="tag tag-pill">
                            {{ tag }}
                        </span>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
