<div class="container-fluid main-header" *ngIf="!isLogged">
    <h1>conduit</h1>
    <p>A place to share your knowledge.</p>
</div>
<div class="container page">
    <div class="row">
        <div class="col-md-9">
            <div class="tabs">
                <ul class="nav nav-pills outline-active">
                    <li
                        class="nav-item"
                        show-authed="true"
                        style="display: none"
                    >
                        <a
                            href=""
                            class="nav-link"
                            ng-class="{
                                active: $ctrl.listConfig.type === 'feed'
                            }"
                            ng-click="$ctrl.changeList({ type: 'feed' })"
                        >
                            Your Feed
                        </a>
                    </li>

                    <li class="nav-item ng-hide">
                        <a href="#" class="nav-link active"> Your feed </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active"> Global Feed </a>
                    </li>
                </ul>
                <app-post *ngFor="let post of posts" [post]="post"></app-post>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sidebar">
                <p>Popular Tags</p>
                <div *ngIf="!tags.length">No tags are here... yet.</div>
                <div *ngFor="let tag of tags">
                    <div class="tag">{{ tag }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
