<div class="profile">
    <a [routerLink]="['/user', username]">
        <img
            alt="user profile image"
            class="user-img"
            src="https://api.realworld.io/images/smiley-cyrus.jpeg"
        />
    </a>
    <div>
        <a
            [routerLink]="['/user', username]"
            [class]="!date ? 'nav-link' : 'profile-link'"
            aria-label="profile"
            role="navigation"
        >
            {{ username }}
        </a>
        <span *ngIf="date" class="date">{{ date }}</span>
    </div>
</div>
