<div class="profile-page" *ngIf="user">
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img [src]="user.image" class="user-img" />
                    <h4>{{ user.username }}</h4>
                    <p>{{ user.bio }}</p>
                    <app-follow-button
                        *ngIf="user.username !== username; else editProfile"
                        [profile]="user"
                    >
                    </app-follow-button>
                    <ng-template #editProfile>
                        <a
                            [routerLink]="['/settings']"
                            class="btn btn-sm btn-outline-secondary action-btn"
                        >
                            <i class="ion-gear-a"></i>
                            Edit Profile Settings
                        </a>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="articles$ | async as articlesState">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1" *ngVar="articlesState.articles as articles">
                <div class="articles-toggle"
                     *ngIf="!articlesState.isLoading; else spinner">
                    <app-tabs (tabChanged)="onTabChange($event)">
                        <ng-container
                            *ngIf="!!articles.length; else noArticles"
                        ></ng-container>
                        <tab title="My Articles" [id]="1">
                            <app-post
                                *ngFor="let article of articles"
                                [post]="article"
                            ></app-post>
                        </tab>
                        <tab title="Favorited Articles" [id]="2">
                            <app-post
                                *ngFor="let article of articles"
                                [post]="article"
                            ></app-post>
                        </tab>
                        <ng-template #noArticles>
                            <div class="mt-3">
                                No {{ noDataText }} articles are here... yet.
                            </div>
                        </ng-template>
                    </app-tabs>
                </div>
                <ng-template #spinner>
                    <app-spinner [loading]="(articles$ | async).isLoading"></app-spinner>
                </ng-template>
            </div>
        </div>
    </div>
</div>
