a {
    color: #5CB85C;
    text-decoration: none;
    line-height: 1rem;
    &:hover {
        outline: 0;
        text-decoration: underline;
        color: #3d8b3d;
    }
}

p {
    font-weight: 300;
}

.tabs {
    margin-bottom: -1px;
}

.tag {
    color: #fff !important;
    background-color: #818a91;
    font-size: 0.8rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: 0.2rem;
    display: inline;
}

.tag-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

//@import "node_modules/bootstrap/scss/bootstrap.scss";
