<div class="container-fluid main-header" *ngIf="(isLogged$ | async) === false">
    <h1>conduit</h1>
    <p>A place to share your knowledge.</p>
</div>
<div class="container page">
    <div class="row">
        <div class="col-md-9">
            <ng-container *ngIf="articles$ | async as articles">
                <app-tabs (tabChanged)="onTabChange($event)">
                    <tab title="Your feed" id="1" *ngIf="isLogged$ | async">
                        <ng-container
                            *ngIf="!!articles.articles.length; else noArticles"
                        >
                            <ng-container
                                *ngIf="
                                    articles.isLoading === false;
                                    else spinner
                                "
                            >
                                <app-post
                                    *ngFor="
                                        let post of (articles$ | async).articles
                                    "
                                    [post]="post"
                                ></app-post>
                            </ng-container>
                            <ng-template #spinner>
                                <app-spinner
                                    type="lg"
                                    [loading]="articles.isLoading"
                                ></app-spinner>
                            </ng-template>
                        </ng-container>
                    </tab>
                    <tab title="Global feed" id="2">
                        <ng-container
                            *ngIf="!!articles.articles.length; else noArticles"
                        >
                            <ng-template
                                *ngVar="articles.articles as _articles"
                            >
                                <app-post
                                    *ngFor="
                                        let post of _articles;
                                        trackBy: trackArticle
                                    "
                                    [post]="post"
                                ></app-post>
                            </ng-template>
                        </ng-container>
                        <ng-template #noArticles>
                            <div class="mt-4">No articles found(</div>
                        </ng-template>
                    </tab>
                </app-tabs>
            </ng-container>
        </div>
        <div class="col-md-3">
            <div class="sidebar">
                <p>Popular Tags</p>
                <ng-container *ngIf="(tags$ | async).tags as tags">
                    <div *ngIf="!tags.length">No tags are here... yet.</div>
                    <div>
                        <span *ngFor="let tag of tags" class="tag tag-pill">
                            {{ tag }}
                        </span>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
